<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>mysample.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
				<key>dateExpires</key>
				<string>2026/5/22</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GTMSessionFetcher.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleDataTransport.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>9.2.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleToolboxForMac.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>2.3.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>7.11.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>2.30909.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>nfc_manager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>DE86B59AB1D9E5518528F1480A8D9EFDA69E341E</string>
						<key>dateExpires</key>
						<string>2026/5/22</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>url_launcher_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M4N7L6874K</string>
						<key>name</key>
						<string>CHANGHUA CHRISTIAN HOSPITAL</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M4N7L6874K.tw.org.cch.mysample</string>
				<key>com.apple.developer.nfc.readersession.formats</key>
				<array>
					<string>TAG</string>
				</array>
				<key>com.apple.developer.team-identifier</key>
				<string>M4N7L6874K</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>c4bcbbc7-dcf5-438f-893b-5d1ef5f1d11f</string>
				<key>dateExpires</key>
				<string>2024/7/10</string>
				<key>name</key>
				<string>iOS Team Inhouse Provisioning Profile: tw.org.cch.mysample</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M4N7L6874K</string>
				<key>name</key>
				<string>CHANGHUA CHRISTIAN HOSPITAL</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.0</string>
		</dict>
	</array>
</dict>
</plist>
